<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hash's Pet Care Center</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/icons/1.ico')}}"/>
    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='css/one-page-wonder.min.css')}}" rel="stylesheet">
      <style>

            .vl {
    border-left: 6px solid green;
    height: 100%;
    position: absolute;
    left: 100%;
    margin-left: -3px;
    top: 0;
}
                .v2 {
    border-left: 6px solid green;
    height: 100%;
    position: absolute;
    left: 100%;
    margin-left: -3px;
    top: 0;
}
                        .v3 {
    border-left: 6px solid green;
    height: 100%;
    position: absolute;
    left: 85%;
    margin-left: -3px;
    top: 0;
}
                                  .v4 {
    border-left: 6px solid green;
    height: 100%;
    position: absolute;
    left: 100%;
    margin-left: -3px;
    top: 0;
}


      </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand active" href="/">Hash’s Pet care </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
              <a class="nav-link" href="/service/">Service</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/aboutus/">About Us</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register/">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login/">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">

          <h1 class="masthead-heading mb-0">Welcome to </h1>

            <div class="row">
             <div class="col-sm-10">
                 <img src="{{url_for('static',filename='images/logo.png')}}" width="1200px">


             </div>

            </div>

        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{{url_for('static',filename='img/01.jpg')}}" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">The Hash's Pet Care Center...</h2>
              <p>Hash’s Pet Care Center has been serving West Seattle for over 10 years. Some of our clients tell us the building originated as a flower shop and that it’s been around since the 2008s.
Past veterinarians include Dr. Walter Schule and Dr. Cris Pamparo, both having left their mark and contribution to Pet Care Center’s legacy.
.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{{url_for('static',filename='img/02.jpg')}}" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Share your Experience..</h2>
              <p>Tell your friends about your good experiences at our clinics and give them the card or coupon. When they become clients themselves, your friend will receive a $20.00 professional service credit toward their initial visit and a $20.00 credit will be placed in your account for use towards a future office visit..</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{{url_for('static',filename='img/03.jpg')}}" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Pet Care Rewards..!</h2>
              <p>Our Pet Care Rewards Membership rewards you for giving your pet the best chance to live a long and healthy life. We have developed a rewarding membership plan that unleashes the savings by giving cash back rewards and supporting a great cause at the same time!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 " style="color: #900C3F">
      <div class="container">
          <hr size="5">
        <div class="row">
                    <div class="form-group col-md-4">


                        <h3>Clinic Open</h3>
                        <p style="text-align:left;size: 30px; color:black;letter-spacing: 3px"><br>
                            • Monday 8.00Am to 10.00Pm
                            <br>
                            • Tuesday 8.00Am to 10.00Pm
                            <br>
                            • Wednesday  8.00Am to 8.00Pm
                            <br>
                            • Thursday 8.00Am to 10.00Pm
                            <br>
                            • Friday 8.00Am to 7.00Pm
                            <br>
                            • Saturday  8.00Am to 1.00Pm
                        </p>
                        <p style="text-align:left;size: 30px; color:red;letter-spacing: 5px">

                            • Sunday -Closed..!

                        </p>
                        <div class="vl"></div>

                    </div>
                       <div class="form-group col-md-4">


                        <h3>Contact Number </h3>
                        <p style="text-align:left;size: 30px; color:black;letter-spacing: 3px"><br>

                            • Tel- +94(0)412223699

                            <br>
                            • Fax- +94(0)412223699
                            <br>
                            • Email - Hashara1995@gmail.com

                        </p>
                        <div class="v2"></div>

                    </div>

                       <div class="form-group col-md-3">


                        <h3>Address</h3>
                        <p style="text-align:left;size: 30px; color:black;letter-spacing: 3px"><br>
                            Dewndatagurugewatta
                            <br>
                            Weraduwa

                            <br>
                            Matara
                            <br>
                            Sri Lanka

                        </p>
                        <div class="v3"></div>

                    </div>
            <div class="form-group col-md-1">

                        <br>
                <br>
                        <p>Free pet Clinics <br> Saturday <br> 1.00Pm to 4.00 Pm </p>



                    </div>


                </div>
                <hr>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  </body>

</html>
